<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-dialog-content'>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Title</h3>
                    <div class='ng-modal-close' ng-click='hideModal()'>X</div>

                </div>
                <div class="panel-body">
                    <div ng-transclude></div>
                </div>
            </div>
        </div>
    </div>
</div>
